body{
    height: 100%;
    width: 100%;
    
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login{
    margin-left: 7%;
}

input{
    width: 70%;
    border: none;
    border-bottom: 1px solid black;
    font-size: 50px;
}

.sign-btn{
    margin-top: 5%;
    font-size: 40px;
    background-color: #5ADF58 ;
    font-size: 50px;
    border: 0.2px solid;
    border-radius: 3px;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: grey;
}



